.jumbotron {
  margin-bottom: 0px;
  background-image: url(https://cloud.githubusercontent.com/assets/348407/5560044/4688e322-8d3a-11e4-808f-0bc1faa28bf7.jpg);
  background-position: 65% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 600px;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.carousel-image-small img {
  width: auto;
  height: 480px;
  max-height: 480px;
}

.page-content {
  height: 480px;
  min-height: 480px;
}
